body {
    font: 12px sans-serif;
}
#graph {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

#people {
    position: absolute;
    left: 2em; top: 2em;
}

#progress {
    position: absolute;
    right: 2em; top: 2em;
    text-align: right;
}
